.app-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1170px) {
  .app-wrapper {
    padding: 0 10px;
  }
}

.nav-container {
  margin-top: 32px;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--light-grey);
}

.gallery-dropdown {
  margin-bottom: 15px;
}

.gallery-container {
  margin-bottom: 20px;
}
