.app-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.nav-container {
  margin-top: 32px;
  margin-bottom: 30px;
}

.gallery-dropdown {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
