.button {
  box-shadow: var(--box-shadow);
  border-radius: var(--larger-border);
  padding: 16px 25px;
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--button-primary);
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--zeta);
  font-weight: var(--semi-bold);
  transition: 0.2s all ease-in-out;
}

.button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.button.disabled {
  background-color: #cccccc;
  color: #666666;
}

.button.color-red {
  background: var(--red);
}

.button.color-green {
  background: var(--green);
}
