.modal-backdrop {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--backdrop-index);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-box {
  z-index: var(--modal-box-index);
  border-radius: var(--larger-border);
  background-color: var(--white);
  padding: 25px 30px;
  margin: 0 auto;
  margin-top: 250px;
  min-width: 300px;
  max-width: 620px;
}
