@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  /* fonts */
  --font-family: "Noto Sans", sans-serif;

  /* color codes */
  --green: #3db46d;
  --red: #eb5757;
  --white: #ffffff;
  --grey: #bdbdbd;
  --input-border: #4f4f4f;
  --light-grey: #f4f4f4;
  --button-primary: #0275d8;

  /* font weights */
  --regular: 400;
  --semi-bold: 700;

  /* font sizes */
  --alpha: 10px;
  --beta: 12px;
  --gamma: 14px;
  --zeta: 16px;
  --eta: 18px;
  --epsilon: 24px;

  /* border radius */
  --smaller-border: 4px;
  --small-border: 6px;
  --medium-border: 8px;
  --large-border: 10px;
  --larger-border: 12px;
  --image-border: 16px;

  /* z-indices */
  --backdrop-index: 9;
  --modal-box-index: 10;

  /* other */
  --box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-flex.justify-space-between {
  justify-content: space-between;
}

.d-flex.align-items-center {
  align-items: center;
}

.link {
  font-family: var(--font-family);
  font-weight: var(--semi-bold);
  font-size: var(--gamma);
  text-decoration: none;
}

.rotate {
  transform: rotate(180deg);
}

.smooth {
  transition: 0.3s ease all;
}

.left {
  left: 40;
}
